<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>actualizar_eliminar_garantía</title>
     <!-- Link para acceder a demas carpetas con estilos -->
    <link rel="stylesheet" href="../../static/Css/actualizar_eliminar_cliente.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/logo.png">
</head>
<body class="body">
  <!-- Inicio de pagina -->
<section>
  <!-- Cuadro para verificar los cambios -->
  <h1>Actualiza y elimina las garantías</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>id Garantía</th>
          <th>fecha Garantía</th>
          <th>descripción Garantía</th>
          <th>tipo de Garantía</th>
          <th>id Usuario</th>
        </tr>
      </thead>
    </table>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>ID USUARIO</td>
            <td>FECHA GARANTÍA</td>
            <td>DESCRIPCIÓN GARANTÍA</td>   
            <td>TIPO GARANTÍA</td>
            <td>ID USUARIO</td>
            <td>
              <!-- Botones para realizar la crud -->
              <button class="btn third">Actualizar</button>
              <button class="btn fifth">Eliminar</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- Fin del cuadro de resultados -->

<!-- Retorno al menu -->
   <a href="/menu/menu">
    <button class="btn fifth">volver al menú</button>
   </a> 
</body>
<!-- Final de la pagina  -->
</html>