<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>actualizar_eliminar_garantía</title>
    <link rel="stylesheet" href="../../static/Css/actualizar_eliminar_cliente.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/logo.png">
</head>
<body class="body">
<section>
  <h1>Consulatar Pqr</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>id Pqr</th>
          <th>fecha Pqr</th>
          <th>descripción Pqr</th>
          <th>tipo de Pqr</th>
          <th>id Usuario</th>
        </tr>
      </thead>
    </table>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>ID PQR</td>
            <td>FECHA PQR</td>
            <td>DESCRIPCIÓN PQR</td>   
            <td>TIPO PQR</td>
            <td>ID USUARIO</td>
            <td>
              <button class="btn third">Actualizar</button>
                <button class="btn fifth">Eliminar</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
   <Foter>
    <a href="/menu/menu">
      <button class="btn fifth">volver al menú</button>
     </a> 
      <a href="/pqr/register_pqr">
      <button class="pqr">volver a registrar PQR</button>
     </a>
   </Foter>
</body>
</html>