<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabriatumaticas - forgot password</title>
      <!-- Link para acceder a demas carpetas con estilos -->
    <link rel="stylesheet" href="../../static/Css/form.css">
    <link rel="apple-touch-icon" href="../../static/img/fabriatomaticas.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/logo.png">
</head>
<body>
    <!-- Inicio de pagina -->
    <div class="form-container">
    <div class="container">
        <form class="forgot-password-form">
 <!-- Encabezado -->
<header>
    <h2>¿Olvidaste tu contraseña?</h2>
</header>

<!-- Formulrio de olvido de contraseña  -->
            <p>Ingresa tu dirección de correo electrónico para restablecer tu contraseña.</p>
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
            <!-- Boron para enviar el formulario  -->
            <button type="submit">Enviar</button>
        </form>
        <br>
        <!-- Redirecciona al login -->
        <a href="/login/principle"><button type="submit2" class="button">Atras</button></a>
    </div>
</div>
</body>
</html>

