<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Registrar Garantías</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/e6f37f5b27.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../static/Css/registrarCliente.css">
  <link rel="shortcut icon" type="image/x-icon" href="../../static/img/logo.png">
</head>

<body >
  <header>

    <nav class="navbar">

      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label for="logo" class="logo">Fabriautomaticas</label>
      <ul>
    <li class="lol"><a href="/login/principle">Login</a></li>
        </ul>
    </nav>
  </header>
  <main class="form_page">
    
  <div class="contact-container">
	<h2>Registra nuevas Garantías</h2>
  
	<p>
		Inserta nuevas garantías y disfruta del mayor funcionamiento del producto entregado. 
	</p>

		<div class="wrapper">
			<input class="form-control" type="number" placeholder="id Garantía" name="idGarantia" id="idGarantia">
			<div class="gradient-bg"></div>
		</div>
    <div class="wrapper">
			<input class="form-control" type="date" placeholder="fecha Garantía" name="fechaGar" id="fechaGar">
			<div class="gradient-bg"></div>
		</div>
    <div class="wrapper">
			<input class="form-control" type="text" placeholder="descripción Garantía" name="descripcionGar" id="descripcionGar">
			<div class="gradient-bg"></div>
		</div>
    <div class="wrapper">
		<input class="form-control" type="text" placeholder="tipo de Garantía" name="tipoGar" id="tipoGar">
			<div class="gradient-bg"></div>
		</div>		
    <div class="wrapper">
		<input class="form-control" type="number" placeholder="id Usuario" name="idUsuFK" id="idUsuFK">
			<div class="gradient-bg"></div>
		</div>	
		<button class="contact_button">Enviar</button>

			<a href="../../../index.html">
			 <button class="contact_button">Volver al menú</button>
			</a> 

	</form>
</div>
  </main>
</body>

</html>
