<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabriautomaticas Terminos y Condiciones</title>
    <link rel="stylesheet" href="../../static/Css/termsAndConditions.css">
    <link rel="apple-touch-icon" href="../../static/img/logo.png">
  <link rel="shortcut icon" type="image/x-icon" href="../../static/img/logo.png">
</head>
<body>
    <header>
        <h1 style="color: rgb(255, 255, 255);">
            Los Terminos Y Condiciones De Fabriautomaticas
        </h1>

        <div class="logo">
            <img src="../../static/img/fabriatomaticas.png" alt="">
        </div>

    </header>


    <section>
        <div class="section">
            <h2 style="color: rgb(255, 255, 255);">1. Nuestros Sevicios</h2>
            <p>El aplicativo web del servivio post-venta y gestión de garantias ofrece servicios de atencion a cualquier tipo de usuarios que deseen chequear, consultar y comprar el estado de las puertas automaticas que previamente compraron, tambien ofresemos, un sistema de seguridad 
                donde se garantiza la gestión de estas garantias, y los servicio que vienen con la garantia desde su respectivo mantenimiento hasta una reparación externa. 
                Al utilizar nuestros servicios, usted acepta cumplir con nuestros términos y condiciones.</p>
        </div>
        <div class="section">
            <h2 style="color: rgb(255, 255, 255);">2. Responsabilidad</h2>
                <p>
                    Si bien hacemos todo lo posible para brindar atención nuestros usuariosde la mas alta calidad, no podemos garantizar resultados específicos y no asumimos ninguna responsabilidad por cualquier resultado negativo. 
          Usted acepta que es su responsabilidad asegurarse de que el aplicativo llegue a presentar ciertas falencias.
                </p>
        </div>
        <div class="section">
            <h2 style="color: rgb(255, 255, 255);">3. Metodos De Pago</h2> 
            <p> Los servicios prestados y reservados, deben ser pagados en el momento del servicio y un 50% de apartado(no se aceptan negociaciones). Aceptamos efectivo, tarjetas de crédito y débito, se aseptan pagos de forma digital(Nequi,Daviplata,etc.). 
                Si es necesario realizar pagos en cuotas, se aplicarán cargos adicionales.
            </p>
        </div>
        <div class="section">
            <h2 style="color: rgb(255, 255, 255);">4. Cancelaciones De Las Citas</h2>
              <p>
                Si necesita cancelar una cita con nosotros, háganoslo saber con al menos 24 horas de anticipación. Si no cancela con anticipación, se le puede cobrar una tarifa de cancelación.
                El aplicativo web del servicio post-venta y gestión de garantias no asepta quejas por no hacer una previa cancelacion, Si desea, se puede comunicar a los diferentes medios de contacto que ofrece el aplicativo.
              </p>
        </div>
        <div class="section">
            <h2 style="color: rgb(255, 255, 255);">5. Privacidad</h2>
              <p>
                Respetamos su privacidad, debido a lo importante que es para nosostros. No compartiremos su información personal con terceros, para evitar malos entendidos con nuestros clientes,
                así mismo manejaremos un perfil profecional bajo las politicas de privacidad que maneja el contrato fimado.
              </p>
        </div>
        <div class="section">
            <h2 style="color: rgb(255, 255, 255);">6. Ley aplicable</h2>
              <p>
                Estos términos y condiciones están sujetos a las leyes de Análisis y diagnóstico de la figura jurídica de las Asociaciones Público Privadas -APP- como mecanismo de identificación y estructuración de proyectos TIC 
                incluidos aquellos con componentes CTeI y su aplicación a nivel regional en Colombia. En el que se encuentra nuestra organización.
                 Cualquier disputa será resuelta por los tribunales de dicha jurisdicción.
              </p>
        </div>
        <div class="section">
            <h2 style="color: rgb(255, 255, 255);">7. Modificaciones</h2>
              <p>
                Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento sin previo aviso. Al utilizar nuestros servicios, usted acepta estar sujeto a las últimas versiones de nuestros términos y condiciones.
              </p>
        </div>   
    </section>
    <footer class="terms">
        <script type="text/javascript">

            copyright=new Date();
            
            update=copyright.getFullYear();
            
            document.write("Derechos reservados &copy 2023 - " + update + " " + "Fabriautomaticas SAS");
            
            </script>
    </footer>
    <br>
    <div class="button">
        <a href="/menu/menu">
            <input type="submit" value="Aceptar">
        </a>
        </div>
</body>
</html>