<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>actualizar_eliminar_cliente</title>
    <link rel="stylesheet" href="../../../Styles/Css/actualizar_eliminar_cliente.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../../Styles/img/fabriatomaticas.png">
</head>
<body class="body">
<section>
  <h1>Actualiza y elimina los clientes</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>id Cliente</th>
          <th>Numero de documento</th>
          <th>Tipo de documento</th>
          <th>Nombre de cliente</th>
          <th>Apellido de cliente</th>
          <th>Direccion de cliente</th>
          <th>Telefono Cliente</th>
          <th>Estado cliente</th>
          <th></th>
        </tr>
      </thead>
    </table>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>Sample ID</td>
            <td>Sample Number</td>
            <td>Sample Type</td>
            <td>Sample Name</td>
            <td>Sample Last Name</td>
            <td>Sample Address</td>
            <td>Sample Phone</td>
            <td>Sample Status</td>
            <td>
              <button class="btn third">Actualizar</button>
                <button class="btn fifth">Eliminar</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<center>
   <a href="../../../index.html">
    <button class="btn fifth">volver al menu</button>
   </a> 
</center>
</body>
</html>