<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabriatumaticas - forgot password</title>
    <link rel="stylesheet" href="../../../Styles/Css/form.css">
    <link rel="apple-touch-icon" href="../../../Styles/img/fabriatomaticas.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../Styles/img/fabriatomaticas.png">
</head>
<body>
    <div class="form-container">
    <div class="container">
        <form class="forgot-password-form">
            <h2>Forgot Password</h2>
            <p>Ingresa tu dirección de correo electrónico para restablecer tu contraseña.</p>
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Enviar</button>
        </form>
        <br>
        <a href="../../login.html"><button type="submit2" class="button">Atras</button></a>
    </div>
</div>
</body>
</html>

