<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta</title>
    <link rel="stylesheet" href="../../../Styles/Css/crud_venta.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../../Styles/img/fabriatomaticas.png">
</head>
<body class="body">
<section>
  <h1>Consulta tu Venta</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>id Venta</th>
          <th>Fecha De La Venta</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th>Id Cliente</th>
          <th>Codigo Venta</th>
          <th></th>
        </tr>
      </thead>
    </table>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>Sample Venta ID</td>
            <td>Sample Fecha</td>
            <td>Sample Cantidad</td>
            <td>Sample Total</td>
            <td>Sample Cliente ID</td>
            <td>Sample Codigo Venta</td>
            <td>
              <button class="btn third">Actualizar</button>
              <a href="#">
                <button class="btn fifth">Eliminar</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<center>
    <a href="../../../index.html">
     <button class="btn fifth">volver al menu</button>
    </a> 
 </center>
</body>
</html>
